.modal-body, .button-div{
    overflow: hidden;
}

.alert{
    visibility: hidden;
}

body{
    padding-top: 75px;
}

.welcome{
    text-align: center;
}

.load-text, #comment-insert-point{
    display: none;
}

.navbar-brand{
    margin-bottom: 0px;
}

#post_text, #comment_text{
    resize: none;
    height: 100px;
}

#title-count, #text-count, #comment-count{
    float: right;
}

.panel-footer{
    cursor: pointer;
}

#comment_id{
    display: none
}